<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Amazon Orders Import</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="custom-file">
      <%= form_tag('/amazon_orders/export.csv', multipart: true) do %>
        <p><b>Amazon Order Ids:</b></p>
        <p class="input-note">Note: Enter ids without double/single quotes.<br>
        example - 444-4444444-444444 555-5555555-5555555</p>
        <%= text_area_tag 'amazon_order_ids',nil, placeholder: "Enter Amazon Order Ids" %>
        <p>Or</p>
        <p><b>Upload Ids CSV:</b></p>
        <p class="input-note">Note: Import file with header.<br>
        Example - <br>amazon_order_id<br>
                  111-0419226-6277856<br>
                  111-0911268-0718624<br>
        </p>
        <%= file_field_tag 'csv_file' %>
        <%= submit_tag "Export CSV", class: 'btn btn-secondary csv-btn'%>
      <% end %>
    </div>
  </div>
</div>
