<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Amazon Orders</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <table id="amazon-orders-datatable" data-source="<%= amazon_orders_path(format: :json) %>">
      <thead>
        <tr>
          <th>Order Total</th>
          <th>Purchase Date</th>
          <th>Status</th>
          <th>Amazon Order ID</th>
          <th>Command</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
