<div class="modal" id="blockModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-transparent border-0">
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-light">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
