<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Submissions</h1>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-sm">
    <div class="btn-toolbar mb-2 mt-2 mb-md-0 float-right">
      <div class="btn-group mr-1">
        <a href="<%= submissions_path(format: :csv)%>" id="export-submissions-button" class="btn btn-secondary m-2">Export</a>
      </div>
    </div>
    <% if SubmissionPolicy.new(current_user, Submission).new? %>
      <div class="btn-toolbar mb-2 mt-2 mb-md-0 float-right">
        <div class="btn-group mr-1">
          <%= link_to new_submission_path, class: 'btn btn-secondary m-2' do %>
            <span class="fa fa-plus"></span>
            New
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table id="submissions_datatable" class="table table-striped table-hover" data-source="<%= submissions_path(format: :json) %>">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Seller Name</th>
      <th>Status</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= render 'shared/block_modal' %>