<div class="nested-fields mt-2 mb-3">
    <div class="field">
        
        <%= f.collection_select :route_action_id, RouteAction.all, :id, :name, {}, {class: "field-select"} %>
        
        <span class="fa fa-minus-circle ml-1"></span>&nbsp;
        <%= f.hidden_field :_destroy %>
        <%= link_to "Remove", "#", class: 'remove_fields' %>
    </div>
</div>