<div class="mb-5">
    
    <%= line_chart [
            {name: "FBA", data: fba_data},
            {name: "Trade", data: trade_data},
            {name: "Lowest", data: lowest_data},
        ],
        id: "amazon-prices-history-chart",
        download: {
            filename: "historic_amazon_prices", 
            background: "#ffffff",
            title: "Historic Amazon Prices"
        },
        legend: "bottom",
        xtitle: "Week of Month",
        ytitle: "Average Daily Price"
    %>
</div>

