<div class="text-center mb-4">
    <h4>Daily <%= title %> for <%= date %></h4>
</div>
<div class="mb-5">
    
    <%= line_chart [
            {name: title, data: @quantity_data },
        ],
        download: {
            filename: filename, 
            background: "#ffffff",
            title: title
        },
        legend: "bottom",
        xtitle: "Day",
        ytitle: "Quantity"
    %>
</div>

