<!-- Lowest History -->
<div class="detail-caption mt-4">
    <label class="table-title">Lowest History</label>
</div>
<div id="detail-headers" class="book-details">
    <label class="col-detail title">Avg Price</label>
    <label class="col-detail title">Month / Year</label>
</div>
<% if @book.nil? %>
  <div class="no-data text-center">
    No data available in table.
  </div>
<% else %>
  <% unless @lowest_history.blank? %>
    <% @lowest_history.each do |row| %>
      <div class="book-details dotted-top qh-detail-row">
        <input type="hidden" name="hist-table" value="lowest-hist-table">
        <div class="col-detail col-data">
          <p class="title title-sm">Avg Price</p>
          <div>
              <label class="pr-2">
                <%= number_with_delimiter(number_with_precision(row["avg"] ? row["avg"] : 0, precision: 2)) %>
              </label>
              <input type="hidden" name="qh-col-data" value="Lowest-Price">
              <button type="button" class="btn-sm btn-success plus-button ml-0" data-toggle="modal" data-target="#historyModal">
                  <i class="fa fa-plus"></i>
              </button>
          </div>
        </div>
        <div class="col-detail">
          <p class="title title-sm">Month/Year</p>
          <div class="qh-date">
            <%= row.fetch("date", "") %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="no-data text-center">
      <div class="section-loader" id="lowest-spinner"></div>
      <div id="lowest-no-data">No data available in table.</div>
    </div>
  <% end %>
<% end %>