
<div class="row">
  <div col-3>
    <div class="input-group mb-3 float-left">
      <%= text_field_tag :search_book, params[:search_book], value: params[:id], class: "form-control", type: "text"%>
    </div>
  </div>
</div>

<div id="book-table" class="row">
  <%= render 'main_details' %>
  <%= render 'amazon_inventory_details' %>
</div>
