
<div class="row">
  <div class="input-group mb-3 float-left">
    <%= form_tag(details_books_path, method: "get", role: "form", class: "book-form" ) do %>
      <%= text_field_tag :search_book, params[:search_book], value: @book.isbn, class: "form-control", type: "text"%>
    <% end %>
  </div>
</div>

<div id="book-table" class="row">
  <%= render 'details' %>
</div>
