
<div class="row">
  <div class="input-group mb-3 float-left">
    <%= form_tag(book_details_path, method: "get", remote: true, role: "form", class: "book-form" ) do %>
      <%= text_field_tag :search, params[:search], value: @book.isbn, class: "form-control", type: "text",oninput: "searchBook();"%>
    <% end %>
  </div>
</div>

<div id="book-table" class="row">
  <%= render 'details' %>
</div>


<script type="text/javascript">
      function searchBook(){
        var field_len = $('#search').val().length;
        if (field_len == 10 || field_len == 13) {
          $.ajax({
              url : "/books/details",
              data : $(".book-form").serialize()
          });
        }
      }
</script> 
