<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Books</h1>
    </div>
  </div>
  <div class="col-sm">
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-grp mr-2">
        <%= button_to book_export_templates_path, method: :get, class: "btn btn-secondary" do %>
          <i class="fa fa-plus"></i>&nbsp;Export
        <% end %>
      </div>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-grp mr-2">
        <%= button_to link_oe_isbn_books_path, method: :get, class: "btn btn-secondary" do %>
          Link OE ISBN
        <% end %>
      </div>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0 float-right">
      <div class="btn-grp mr-2">
        <%= button_to add_isbn_books_path, method: :get, class: "btn btn-secondary" do %>
          Add ISBN
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <table id="books-datatable" data-source="<%= books_path(format: :json) %>" data-turbolinks='false'>
      <thead>
        <tr>
          <th>EAN</th>
          <th>ISBN</th>
          <th>Author</th>
          <th>Title</th>
          <th>Edition</th>
          <th>Subject</th>
          <th>Publication Date</th>
          <th>Copyright</th>
          <th>Publisher</th>
          <th>Status</th>
          <th>Status Date</th>
          <th>Grade</th>
          <th>List</th>
          <th>Wholesale</th>
          <th>Max Wholesale</th>
          <th>Lowest Price</th>
          <th>Rank</th>
          <th>Aug Rank</th>
          <th>Amazon Rental</th>
          <th>Lowest Rental</th>
          <th>FCB Price</th>
          <th>FBA Price</th>
          <th>Updated At</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
