
<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Books</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <table id="books-datatable" data-source="<%= books_path(format: :json) %>">
      <thead>
        <tr>
          <th>EAN</th>
          <th>ISBN</th>
          <th>Author</th>
          <th>Title</th>
          <th>Edition</th>
          <th>Subject</th>
          <th>Publication Date</th>
          <th>Copyright</th>
          <th>Publisher</th>
          <th>Status</th>
          <th>Status Date</th>
          <th>Grade</th>
          <th>List</th>
          <th>Wholesale</th>
          <th>Max Wholesale</th>
          <th>Trade In</th>
          <th>Lowest Price</th>
          <th>Rank</th>
          <th>Aug Rank</th>
          <th>Amazon Rental</th>
          <th>Lowest Rental</th>
          <th>FCB Price</th>
          <th>FBA Price</th>
          <th>Updated At</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#books-datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "scrollX": true,
        "columnDefs": [{ "orderable": false, "targets": -1 }],
        "ajax": $('#books-datatable').data('source'),
        "pagingType": "full_numbers",
        "columns": [
            {"data": "ean"},
            {"data": "isbn"},
            {"data": "author"},
            {"data": "title"},
            {"data": "edition"},
            {"data": "subject"},
            {"data": "publication_date"},
            {"data": "copyright"},
            {"data": "publisher"},
            {"data": "edition_status_code"},
            {"data": "edition_status_date"},
            {"data": "grade"},
            {"data": "list_price"},
            {"data": "used_wholesale_price"},
            {"data": "max_wholesale_price"},
            {"data": "trade_in"},
            {"data": "lowest_price"},
            {"data": "sales_rank"},
            {"data": "sales_rank_aug_avg"},
            {"data": "amazon_rental"},
            {"data": "lowest_rental"},
            {"data": "fcb_price"},
            {"data": "fba_price"},
            {"data": "updated_at"}
        ]
    });
  });
</script>
