<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h1 class="h2">Books - Link OE ISBN</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="custom-file">
      <%= form_tag(link_oe_isbn_books_path, id: 'link-oe-isbn-form', multipart: true) do %>
        <div class="form-group row">
            <div class="col-sm-3">
                <p><b>Book ISBN & OE_ISBN Ids:</b></p>
                <p class="input-note">Note: Enter isbns with its corresponding oe_isbn 
                                      without double/single quotes, in CSV format. <br>
                example - <br> 
                isbn,oe_isbn<br> 
                0002171856,1002171856<br> 
                0004334523,1004334523<br>
                0004723570,1004723570<br>
                </p>
                <%= file_field_tag 'csv_file', class: 'mb-3' %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm">
                <%= submit_tag "Submit", class: 'btn btn-secondary csv-btn', data: { disable_with: false }%>
            </div>
        </div>
      <% end %>
      
    </div>
  </div>
</div>

<%= render 'shared/block_modal' %>