<div class="nested-fields mt-2 mb-3">
    <div class="field">
        
        <%= f.hidden_field :position, class: "field-position" %>
        <%= f.collection_select :book_field_mapping_id, @book_field_mappings.order(:display_name).all,:id, :display_name, {}, {class: "field-select"} %>
        
        <span class="fa fa-arrows-alt ml-1"></span>&nbsp;
        <%= f.hidden_field :_destroy %>
        <%= link_to "Remove", "#", class: 'remove_fields' %>
    </div>
</div>