<div class="row">
    <div class="col-sm">
        <h2>New Book Export Template</h2>
    </div>
    <div class="col-sm">
        <div class="float-right">
            <%= link_to new_book_export_template_path, class: 'btn btn-secondary ml-2' do %>
                <span class="fa fa-plus"></span>
                New
            <% end %>
            <%= link_to book_export_templates_path, class:"btn btn-secondary ml-2" do %>
                <span class="fa fa-list"> </span>
                Return to List
            <% end %>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-sm border-top p-3">
        <%= render 'form', book_export_template: @book_export_template %>
    </div>
</div>


