
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cannot proccess following entries</h1>
    <% @entries.each do |entry| %>
      <p><%= entry %></p>
    <% end %>
  </body>
</html>