<h1>Amazon Shipment List</h1>
<table class="table text-center">
  <thead>
  <%= render partial: 'amazon_shipment_table_header' %>
  </thead>
  <%=
    render partial: 'amazon_shipment_item',
    collection: @amazon_shipment_items
  %>
  <tfoot>
  <%= render partial: 'amazon_shipment_table_header' %>
  </tfoot>
</table>