/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media only screen and (max-width: 961px) {
    .book-details-table thead, 
    .book-details-table tbody, 
    .book-details-table th, 
    .book-details-table td, 
    .book-details-table tr {
      display: block;
    }
    .book-details-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .book-details-table tr { border: 1px solid #ccc; }
    .book-details-table td {
      border: none;
      border-bottom: 1px solid #c0cace;
      position: relative;
      padding-left: 50px;
      margin-left: 120px;
      background-color: #e9ecef;
    }
    .book-details-table td:before {
      position: absolute;
      top: 12px;
      left: 6px;
      width: 200px;
      padding-right: 40px;
      white-space: nowrap;
      margin-left: -150px;
      font-weight: bold;
      text-align: center;
    }
    #book-details-main td:nth-of-type(1):before { content: "Image"; }
    #book-details-main td:nth-of-type(2):before { content: "Author"; }
    #book-details-main td:nth-of-type(3):before { content: "Title"; }
    #book-details-main td:nth-of-type(4):before { content: "List";}
    #book-details-main td:nth-of-type(5):before { content: "Wholesale";}
    #book-details-main td:nth-of-type(6):before { content: "Amazon Low";}
    #book-details-main td:nth-of-type(7):before { content: "FBA Low";}
    #book-details-main td:nth-of-type(8):before { content: "Amazon Rental";}
    #book-details-main td:nth-of-type(9):before { content: "Sales Rank";}
    #book-details-main td:nth-of-type(10):before { content: "Pub";}
    #book-details-main td:nth-of-type(11):before { content: "Subject";}
  
    #book-details-amazon-inventory td:nth-of-type(0):before { content: "Amazon Inventory";}
    #book-details-amazon-inventory td:nth-of-type(1):before { content: "FBAQ";}
    #book-details-amazon-inventory td:nth-of-type(2):before { content: "Inbound";}
    #book-details-amazon-inventory td:nth-of-type(3):before { content: "ORQC";}
    #book-details-amazon-inventory td:nth-of-type(4):before { content: "ORQT";}
    #book-details-amazon-inventory td:nth-of-type(5):before { content: "FBAWQ";}
    #book-details-amazon-inventory td:nth-of-type(6):before { content: "BZ&JQ";}
    #book-details-amazon-inventory td:nth-of-type(7):before { content: "POQ";}
    #book-details-amazon-inventory td:nth-of-type(8):before { content: "BOQ";}
    #book-details-amazon-inventory td:nth-of-type(9):before { content: "BO%";}
    #book-details-amazon-inventory td:nth-of-type(10):before { content: "RQ";}
    #book-details-amazon-inventory td:nth-of-type(11):before { content: "R%";}
  }

  .caption {
    caption-side: top;
    color: #495057;
    padding-bottom: 0.2rem;
    border: 1px solid #ccc;
    padding-left: 10px;
  }