/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media only screen and (max-width: 768px) {

    .book-details {
      flex-direction: column !important;
    }

    .col-detail {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-evenly;
    }
    
    .title {
      flex: 1 2 30%;
    }

    .col-detail > div{
      flex: 1 1 70%;
    }

  }
  
/* ---------------------------------------------------
    STYLES
----------------------------------------------------- */
.caption {
  caption-side: top;
  color: #495057;
  padding-bottom: 0.2rem;
  border: 1px solid #ccc;
  padding-left: 10px;
}

.book-details{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.col-detail {
  border: 0.5px solid #dee2e6;
  flex:1;
};

.col-detail > div {
  padding:10px;
}

.title {
  font-weight: bold;
  padding: 10px;
  margin-bottom: 0;
  color: #495057;
  border-bottom: 0.5px solid #dee2e6;
  background-color: #e9ecef;
}

.detail-header {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
}

.detail-header > h5 {
  color: #495057;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.book-details-table {
  table-layout: fixed;
}