<div class="nested-fields mt-1 mb-1">
    <div class="field">
        <%= f.collection_select :route_id, Route.order(
            :controller_name).all,:id, :to_s, {}, {class: "route-select-field"} %>
        
        <span class="fa fa-minus-circle ml-1"></span>&nbsp;
        <%= f.hidden_field :_destroy %>
        <%= link_to "Remove", "#", class: 'remove_fields' %>
    </div>
</div>